
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; 
    color: white;
}

header {
    background-color: #375f8a;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.personal-info {
    background-color: #1a1a1a; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    margin-top: 1rem;
}

.personal-info p {
    margin: 0;
}

.buttons {
    margin-top: 1rem;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.linkedin {
    background-color: #0077B5;
    color: #fff;
}

.github {
    background-color: white;
    color: purple;
}


.fa-linkedin, .fa-github {
    margin-right: 5px;
}


section {
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #007BFF; 
}


ul, li {
    list-style-type: none;
    padding: 0;
}


@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
}


.personal-info {
    background-color: #1a1a1a; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personal-info p {
    margin: 0;
}


.card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}


.name {
    font-size: 1.5rem;
    font-weight: bold;
}



